.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-default {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;  /* Default browser font size */
  color: #333;      /* Default text color */
  font-family: Arial, sans-serif; /* Default React app font */
}

.table-default th, 
.table-default td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-default thead {
  background-color: #f8f9fa; /* Light gray for header */
  font-weight: bold;
}

.table-default tbody tr:hover {
  background-color: #f1f1f1; /* Light hover effect */
}

